* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background: rgb(7, 7, 7);
} */

center{
  margin-bottom: 1rem;
}

img {
  width: 100%;
  height: 100%;
}

.App {
  width: 100vw;
  padding-top: 3rem;
}

.Slide {
  width: 100vw;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.flex{
    flex: 20%;
    width: 100px;
    height: 200px;
}


.slide {
  width: 80%;
  height: 500px;
  margin: auto;
  display: flex;
  max-width: 760px;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.item{
  width: 100%;
}

.item img{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out 200ms;
  border-radius: 20px;
}

.item img.active{
  opacity: 1;
}

.slideItem {
  padding: 2rem;
  width: 100%;
  height: 100%;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 1s ease-in-out 200ms;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(5, 5, 5, 0.3);
  border-radius: 20px;
}

.btn {
  z-index: 2;
  cursor: pointer;
  background: rgba(5, 5, 5, 0.7);
  padding: 0.6rem 1.1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 900;
}

.btn.left {
  left: -20;
}

.btn.right {
  right: -20;
}

.item div{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  padding: 1rem;
  width: 100%;
  height: 100px;
  /* transform: translateY(100%); */
  transition: opacity 1s ease-in-out;
}

.item .title {
  opacity: 1;
}

.title p {
  line-height: 20px;
}

@media screen and (max-width: 500px) {

  .slide {
    width: 90%;
    height: 50vh;
  }
.btn {
  padding: 0.3rem 0.6rem;
  font-size: 20px;
}
  .title{
    display: none;
  }
}

